In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

C:\Users\user\AppData\Local\Temp\ipykernel_15712\912229180.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib notebook
import numpy as np

In [18]:
file = pd.read_csv(r'C:\Users\user\coarse.txt')
new_csv_file = file.to_csv(r'C:\Users\user\coarse.csv')

In [19]:
df = pd.read_csv('coarse.csv')
df.head()

   Unnamed: 0              1212487
0           0  -0.030 -5.670 -1.229 -2043 1 1 1
1           1   -0.091 -5.688 -1.190 -762 1 1 1
2           2   -0.111 -5.688 -1.168 -714 1 1 1
3           3   -0.091 -5.684 -1.168 -714 1 1 1
4           4   -0.069 -5.674 -1.165 -715 1 1 1

In [20]:
df = df.drop(['Unnamed: 0'], axis = 1)
df.head()

               1212487
0  -0.030 -5.670 -1.229 -2043 1 1 1
1   -0.091 -5.688 -1.190 -762 1 1 1
2   -0.111 -5.688 -1.168 -714 1 1 1
3   -0.091 -5.684 -1.168 -714 1 1 1
4   -0.069 -5.674 -1.165 -715 1 1 1

In [21]:
new_csv_file = df.to_csv(r'C:\Users\user\coarse_fin.csv', index=None) #none을 해야 인덱스 없이 csv만들어짐!!

In [22]:
df2 = pd.read_csv('coarse_fin.csv', sep=' ')
df2.head()

,1212487,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,-0.030,-5.670,-1.229,-2043,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.091,-5.688,-1.190,-762,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-0.111,-5.688,-1.168,-714,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-0.091,-5.684,-1.168,-714,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-0.069,-5.674,-1.165,-715,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df2 = df2.drop(['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12','Unnamed: 13'], axis = 1)

In [24]:
df2.columns = ['x', 'y', 'z', 'I', 'r', 'g','b']
df2.head()

       x      y      z     I  r  g  b
0 -0.030 -5.670 -1.229 -2043  1  1  1
1 -0.091 -5.688 -1.190  -762  1  1  1
2 -0.111 -5.688 -1.168  -714  1  1  1
3 -0.091 -5.684 -1.168  -714  1  1  1
4 -0.069 -5.674 -1.165  -715  1  1  1

In [25]:
new_csv_file = df2.to_csv(r'C:\Users\user\coarse_fin2.csv', index=None) #이제 완벽하게 인덱스 없고 xyzIrgb로 구성된 csv 만듦.

In [26]:
df3 = pd.read_csv('coarse_fin2.csv')
df3

             x      y      z     I  r  g  b
0       -0.030 -5.670 -1.229 -2043  1  1  1
1       -0.091 -5.688 -1.190  -762  1  1  1
2       -0.111 -5.688 -1.168  -714  1  1  1
3       -0.091 -5.684 -1.168  -714  1  1  1
4       -0.069 -5.674 -1.165  -715  1  1  1
...        ...    ...    ...   ... .. .. ..
1212482  4.104  0.357  1.370  -550  1  1  1
1212483  4.104  0.354  1.374  -868  1  1  1
1212484  4.098  0.370  1.364  -596  1  1  1
1212485  4.101  0.386  1.296  -552  1  1  1
1212486  4.098  0.386  1.310  -642  0  2  0

[1212487 rows x 7 columns]